<!--create 5 cards for all 5 boroughs and use borough id
Contents of each borough card will link to the borough page 
using the borough id-->
<h1>BOROUGH DETAILS</h1>
<section class="card">
  <a href="/#borough/{{id}}">
    <header>{{postTitle}}</header>
    <img />
  </a>
</section>