 <main>
    <!-- TW FEATURE ************************************* -->
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <h2 class="text-lg font-semibold leading-8 text-orange-600">Welcome to PawPals!</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">A better way to schedule pet playdates</p>
      <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">Looking for a playdate for your pup?
Paw Pals allows New Yorkers to create profiles for their dogs and find other users
and their pups nearby. You can find other dogs in your borough to play with by looking at their profiles.
Find your dog a Paw Pal today!</p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16">
        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-orange-500 text-white sm:shrink-0">
            <!-- -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">The leading Pet App</p>
            <p class="mt-2 text-base leading-7 text-gray-600">PawPals is currently the leading app in the market for scheduing pet dates by pet criteria and location.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-orange-500 text-white sm:shrink-0">
            <!-- -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">No hidden fees</p>
            <p class="mt-2 text-base leading-7 text-gray-600">PawPals is a free and convenient service for busy NYC residents to be able to schedule pet dates by pet criteria and location.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-orange-500 text-white sm:shrink-0">
            <!--  -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Posts are instant</p>
            <p class="mt-2 text-base leading-7 text-gray-600">Your posts are publicly visible instantly, allowing for another user to view your post and comment.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-orange-500 text-white sm:shrink-0">
            <!--  -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Mobile notifications</p>
            <p class="mt-2 text-base leading-7 text-gray-600">Sing up and receive instant notifications to your emil when other users comment on your posts!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- ***************TW****** -->

    <!-- section to sign up -->
    <section id="sign-up">
        <div class="section-title">
            <h2 class="sign-up-title">Sign Up</h2>
          <img src="/assets/orangepaw.png" height="100px" />
        </div>
        <div><h3 class="pup">Create Your Pup's Profile!</h3></div>
        <div class="signup-form">
            <form>
                <p class="form-header">Your Information:</p>
               <p>
                <label for="email">Enter your email address:</label>
                <input type="text" name="email" class="form-input"/> </br>
                <label for="username">Enter a username:</label>
                <input type="text" name="username" class="form-input"/> </br>
              <label for="password">Enter a password:</label>
                <input type="text"  name="password" class="form-input"/></br>
                  </p>
                  <p class="form-header">Your Pup's Information:</p>
                  <p>
                    <p>PLEASE CAPITALIZE YOUR TYPED RESPONSES!</p>
                    <label for="name">Enter your dog's name:</label>
                <input type="text"  name="name" class="form-input"/> </br>
                  <label for="age">Enter your dog's age:</label>
                <input type="text" name="age" class="form-input"/> </br>
                  <label for="breed">Enter your dog's breed (Bulldog, German Shepherd, Poodle, French Bulldog, Golden Retriever, Other):</label>
                <input type="text"  name="breed" class="form-input"/> </br>
                  <label for="activity">Enter your dog's favorite activity (walk, run, ball, frisbee, other):</label>
                <input type="text" name="activity" class="form-input"/></br>
                <label for="availability">Enter your time availability (morning, afternoon, or night):</label>
                <input type="text"  name="availability" class="form-input"/> </br>
                  <label for="borough">Enter your NYC borough:</label>
                <input type="text"  name="borough" class="form-input"/> </br>
                </p>
                <p class="form-header">Add a Picture of Your Pup:</p>
                <p>
                    <label for="picture">Enter a URL link for your image:</label>
                    <input type="url"  name="dogpic" class="form-input"/>                
                </p>
                <div class="get-started-btn">
                   <button class="btn btn-info" type="submit">
                    Get Started!
                </button>
                </div>
            </form>
        </div>
      </section>
<!-- about us section -->

  <section id="about" class="about-us">
    <div class="section-title">
      <h2 class="about-title">About</h2>
      <img src="/assets/yellowpaw.png" height="60px" />
    </div>

    <div>
      <h4 class="about-blurb">Looking for a playdate for your pup? </br>
        Paw Pals allows New Yorkers to create profiles for their dogs and find other users </br> and their pups nearby.
        You can find other dogs in your borough to play with by looking at their profiles. </br>
      </h4>
      <h3 class="find-today">Find your dog a Paw Pal today!</h3>
    </div>
  
  </section>
<div class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100" alt="">
    <div class="absolute inset-0 bg-orange-300 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl lg:text-6xl">Get in touch</h1>
    <p class="mt-6 max-w-3xl text-xl text-orange-700">Do you or your pet have feedback? We'd love to hear your thoughts as we work to make our app the best social network for pets that we can be.</p>
  </div>
</div>

    

  <!-- **********************  TW GET IN TOUCH END / LEADERSHIP BEG ****************************-->
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Meet our leadership</h2>
        <p class="text-xl text-gray-500">We are working around the clock to bring you the best and most interactive social network for pets available today!</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="h-16 w-16 rounded-full lg:h-20 lg:w-20" src="https://images.unsplash.com/photo-1633722715463-d30f4f325e24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Dan</h3>
                <p class="text-orange-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>
           <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="h-16 w-16 rounded-full lg:h-20 lg:w-20" src="https://images.unsplash.com/photo-1599765625239-fe53131a58ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Brit</h3>
                <p class="text-orange-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>
               <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="h-16 w-16 rounded-full lg:h-20 lg:w-20" src="https://images.unsplash.com/photo-1519120430-a7d2287c986a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Caitlin</h3>
                <p class="text-orange-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>
            <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="h-16 w-16 rounded-full lg:h-20 lg:w-20" src="https://images.unsplash.com/photo-1601275283500-ebbe72dc328e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3>Gladi</h3>
                <p class="text-orange-600">Co-Founder / CEO</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- **********************LEADERSHIP END TW / CONTACT BEG******************************-->
  <!-- contact us section -->
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg md:grid md:max-w-none md:grid-cols-2 md:gap-8">
      <div>
        <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight">Sales Support</h2>
        <div class="mt-3">
          <p class="text-lg text-gray-500">Contact a sales representative who can explain the services and offerings that PawPals can provide to suit your needs.</p>
        </div>
        <div class="mt-9">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- -->
              <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
              </svg>
            </div>
            <div class="ml-3 text-base text-gray-500">
              <p>+1 (555) 123 4567</p>
              <p class="mt-1">Mon-Fri 8am to 6pm PST</p>
            </div>
          </div>
          <div class="mt-6 flex">
            <div class="flex-shrink-0">
              <!--  -->
              <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </div>
            <div class="ml-3 text-base text-gray-500">
              <p>support@pawpals.io</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 md:mt-0">
        <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl sm:tracking-tight">Technical Support</h2>
        <div class="mt-3">
          <p class="text-lg text-gray-500">Technical issues? Contact us to quickly fix your problem or connect you to someone who can.</p>
        </div>
        <div class="mt-9">
          <div class="flex">
            <div class="flex-shrink-0">
              <!--  -->
              <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
              </svg>
            </div>
            <div class="ml-3 text-base text-gray-500">
              <p>+1 (555) 123 4567</p>
              <p class="mt-1">Mon-Fri 8am to 6pm PST</p>
            </div>
          </div>
          <div class="mt-6 flex">
            <div class="flex-shrink-0">
              <!--  -->
              <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </div>
            <div class="ml-3 text-base text-gray-500">
              <p>tech@pawpals.io</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ********* TW CONTACT ENDS ********* -->
  <section id="contact" class="contact-us">
    <div class="section-title">
      <!-- <h2 class="contact-title">Contact</h2> -->
      <img src="/assets/orangepaw.png" height="100px" />
    </div>

    <div class="contact-info">
      <h3>Don't hestitate to reach out with any questions!</h3>
      <h4>P: 917-PAW-PALS (917-729-7257)<br />
        E: <a href="mailto:info@pawpals.io">info@pawpals.io</a></h4>
    </div>

    

  </section>


</main>

<!--Javascript files (sign up)-->
<script src="/javascript/signup.js"></script>

<!-- TW NOTIFICATIONS ************ -->
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="inline text-3xl font-bold tracking-tight text-gray-900 sm:block sm:text-4xl">Want product news and updates?</h2>
    <p class="inline text-3xl font-bold tracking-tight text-orange-500 sm:block sm:text-4xl">Sign up for our newsletter.</p>
    <form class="mt-8 sm:flex">
      <label for="email-address" class="sr-only">Email address</label>
      <input id="email-address" name="email" type="email" autocomplete="email" required class="w-full rounded-md border-gray-300 px-5 py-3 placeholder-gray-500 focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs" placeholder="Enter your email">
      <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
        <button type="submit" class="flex w-full items-center justify-center rounded-md border border-transparent bg-yellow-300 px-5 py-3 text-base font-medium text-white hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Notify me</button>
      </div>
    </form>
  </div>
</div>
