<section>
<div class="login-form p-3 rounded-md">
  <h2 class="text-lg text-bold">Login</h2>
  <form>
    <div class="">
      <label for="email-login m-2 ">Email:</label>
        <input class="form-input px-4 py-3  m-3 rounded-lg" type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
        <input class="form-input px-4 py-3  m-3 rounded-lg" type="password" id="password-login" />
    </div>
    <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">login</button>
    </div>
  </form>
</div>
</section>

<section>
  <div class="no-login">
<h3>Don't have a login? </br> Create your dog profile today by clicking the button below!</h3>
<div>
  <button class="submit-btn" type="submit"><a href="/">Sign Up</a></button>
</div>
  </div>
</section>
 

  <script src="./javascript/login.js"></script>