header nav {
  margin-left: -28px;
  margin-top: -10px; 
  color: white;
  background-color: #ff862f;
  font-family: Arial, Helvetica, sans-serif;
}

header nav ul li {
  display: inline;
  padding: 17px;
  font-weight: bolder;
  font-size: 1.5rem;
}

header nav ul li a:hover {
  color: #fbffa5;
}

header a {
  color: white;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: white;
  font-size: 3.5rem;
}

.intro {
  text-align: center;
  margin-top: -20px;
}

.mae {
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: -15px;
}

.sign-up-prompt {
  color: #ff862f;
  border-radius: 10px;
  font-size: 35px;
  padding: 5px 20px 10px 20px;
  background-color: white;
  margin-left: 80px;
  margin-right: 900px;
}

section {
  padding: 40px;
}

.section-title {
  font-size: 2vw;
  text-align: center;
  color: black;
}

.welcome {
  height: 250px;
  background-color: #ff862f;
  display: flex;
}

.sign-up section {
  height: 400px;
  background-color: white;
}

.section-title {
  font-size: 35px;
}

.pup {
  color: black;
  text-align: center;
  font-size: 30px;
}

.signup-form {
  border: 3px solid black;
  background-color: #fbffa5;
  color: black;
  padding: 20px;
  width: 550px;
  margin: auto;
}

<<<<<<< HEAD
=======

>>>>>>> Tailwind
.about-blurb {
  text-align: center;
  color: white;
}

.find-today {
  text-align: center;
  color: #fbffa5;
  font-weight: bolder;
}

.get-started-btn {
  text-align: center;
}

.form-header {
  font-weight: bold;
  text-align: center;
}

.about-us {
  height: 400px;
  background-color: #ff862f;
}

.sign-up-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-us {
  height: 350px;
  background-color: white;
}

.contact-info {
  text-align: center;
  color: #ff862f;
}

footer {
  background: #fbffa5;
  padding: 20px;
}

footer h2 {
  display: inline;
  color: #ff862f;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: left;
  margin-left: 50px;
}

.card {
  border: 3px solid #ff862f;
  background-color: #fbffa5;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-body {
  font-size: 1.2rem;
  text-align: left;
}

.dog-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.login-form {
  border: 3px solid black;
  background-color: #fbffa5;
  padding: 5px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
}

.no-login {
  text-align: center;
}

.submit-btn {
  border: none;
  background-color: #ff862f;
  color: white;
}
